/*
 * Theme Name: Casper
 * Theme URI: http://tryghost.org
 * Description: The default Ghost theme for personal blogging.
 * Author: Ghost
 * Author URI: http://tryghost.org;
 * Version:1.0
 */

/* ==========================================================================
   Table of Contents
   ========================================================================== */

/*
   1.   Includes
   2.   Something
   3.   Something else
 */

/* ==========================================================================
   1. Includes
   ========================================================================== */

/*
@import url(normalize.css);
@import url(boilerplate.css);
@import url(fonts.css);
*/

/* ==========================================================================
   2. Typography
   ========================================================================== */



/* ==========================================================================
   3. Layout
   ========================================================================== */



/* ==========================================================================
   4. Header/Sidebar
   ========================================================================== */



/* ==========================================================================
   5. Post Content
   ========================================================================== */



/* ==========================================================================
   6. Single Post
   ========================================================================== */


/* ==========================================================================
   6. Page
   ========================================================================== */



/* ==========================================================================
   7. Post Feed
   ========================================================================== */



/* ==========================================================================
   x. Archive
   ========================================================================== */



/* ==========================================================================
   x. Media Queries
   ========================================================================== */

/*
 * Large Screen Devices
 */

@media only screen and (min-width: 1500px) {





}

/*
 * Tablets
 */

@media only screen and (max-width: 1100px) {





}

/*
 * Small Tablets
 */

@media only screen and (max-width: 900px) {





}

/*
 * Mobile Devices
 */

@media only screen and (max-width: 700px) {





}

/*
 * Very Small Devices
 */

@media only screen and (max-width: 400px) {





}

/* ==========================================================================
   DO NOT ADD ANY CODE BELOW THIS POINT
   ========================================================================== */