<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{settings.title}} | {{settings.description}}</title>

    <!-- Bootstrap -->
    <link href="css/bootstrap.min.css" rel="stylesheet" media="screen">
    <link rel="stylesheet" type="text/css" href="/css/style.css">
</head>
<body>
    <header>
        <a id="title" href="/">{{settings.title}}</a>
        <p id="description">{{settings.description}}</p>
        <div class="clearfix"></div>
    </header>

    {{{body}}}

    <script type="text/javascript" src="/lib/jquery/jquery.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/js/index.js"></script>
</body>
</html>